.Button {
    background-color: transparent;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    border-radius: 6px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    /* padding-left: 0; */
}

.Button:disabled{
    color: #aaa;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}